.header {
  margin: 2rem 1rem;

  @media screen and (min-width: 1500px) {
    margin: 2rem 0rem;
  }

  &__content-wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
  }
  &__logo {
    height: auto;
    width: calc(4rem + 10vw);
    min-width: 8rem;
    max-width: 14rem;
  }

  &__button {
    background-color: transparent;
    color: $pink;
    border: 1px solid $pink;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
  }
}
